<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<header>
		<span>logo</span>
		<span>search line</span>
	</header>
	<section>
		<nav class="main__nav--menu">
			some topic
		</nav>
		<main class="main__main--content">
			main content
		</main>
		<nav class="main__nav--rightcontent">
			right line
		</nav>
	</section>
	<footer>
		copyright MH's 2018
	</footer>
</body>
</html>